/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
#circulito {
  fill: #4e2ff7;
  height: 0.3em;
}

.btn-primary {
  background-color: #4e2ff7 !important;
  border-color: #4e2ff7 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  /*z-index: 1000;*/
}

#categoria{
  margin-left: 10px;
  max-width: 200px;
}

#lugar{
  max-width: 200px;
}

#perfil{
  padding: 5%;
  background-color: rgba(0,0,0,5%);
  border-radius: 25px;
  border-width:2px;  
  border-style:solid;
}
.panelcito{
  background-color: rgba(0,0,0,5%);
  padding: 2%;
  border-radius: 5px;
}
.modificarinformacion{
  padding: 5%;
  background-color: rgba(0,0,0,5%);

  border-width:2px;  
  border-style:solid;
  border-radius: 25px;
  margin-bottom: 70px;
}

#barritacategorias{
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 56px;
  padding-bottom: 0.3em;
  font-size: 1em;
  background-color: black;
}

#metodosaceptados{
  width: 100%;
  margin-top: 50px;
  background-color: rgba(0,0,0,5%);
  box-sizing: border-box;
  opacity:90%;
  border-radius: 25px;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

#siguientesfunciones{
  margin-top: 50px;
  margin-bottom: 50px;
  /*height: 600px;*/
  width: 100%;
  /*max-width: 1200px;*/
  background-color: rgba(0,0,0,5%);
  box-sizing: border-box;
  border-radius: 25px;

  padding-right: 5%;
  padding-left: 5%;
}

.selectorticket, .comidadiv, .paquetediv{
	border-style: solid;
	border-width: 1px;
	border-color: rgba(78,47,247,10%);
	background-color: rgba(78,47,247,10%);
	border-radius: 10px;
}

.proximasfunciones{
   background-color: rgba(78,47,247,20%);
   padding-left: 0.5%;
   padding-right: 0.5%;
   border-radius: 10px;
  }

.proximasfuncionescaption{

}

.imagenproximasfunciones{
  margin-top: 20px;
}


#containerprincipal{
  height: 100%;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  /*background-color: rgba(0,0,0,13%);*/
  box-sizing: border-box;
  /*background-opacity:20%;*/
  /*border-radius: 25px;*/
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .9s ease;
  background-color: #000000;
}

#imghover:hover .overlay {
  opacity: 0.8;
}
#imghover:hover .carousel-caption {
  opacity: 0;
}

.paginacion{
  margin-bottom: 05em;
  margin-left: 44%;
  font-size: 3em;
  text-decoration: none;
  color: black;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.cuatrodivisiones{
  height: 100%;
  width: 100%;
  margin: auto;
  /*background-color: rgba(0,0,0,13%);*/
  box-sizing: border-box;
  background-opacity:20%;
}

.col-sm{
	/*height: 100%;*/
	margin-bottom:  30px;
	/*background-color: rgba(255,0,0,13%);*/
}

.col-lg{
	/*height: 100%;*/
	margin-bottom:  30px;
	/*background-color: rgba(255,0,0,13%);*/
}

.imagencarousel{
	width: 100%;
	height: 100%;
}

#tickets{
  margin-left: 25%;
}

.next {
  right: 15px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.carousel-indicators li {
  background-color: #555;
  
}
ol.carousel-indicators{
  margin-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
  top: 99%!important;
}
@media (min-width: 992px){
  .proximasfunciones{
   margin-right: 5%;
  }
  
}
@media (max-width: 992px){
  .comidadiv, .selectorticket{
    max-width: 50%;
  }
  
  .lugarimagen{
    margin: auto;
    max-width: 50%;
  }
	.col-lg{
		margin-bottom: 30px;
	}
	.nav-item{
    	margin-bottom: 1em;
    	margin-left: 0;
	}
  #categoria{
    margin-left: 0;
  }
  .botoncitosuperior{
    order: 0;
  }
  #campobusqueda{
    width: 150px;
  }
  .next .prev{
  	margin-bottom: 0px;
  }
}

@media (max-width: 775px){
  .footer {
    display: none;
  }
  .chatbox {
    margin-bottom: 0px!important;
  }
  
}

@media (max-width: 576px){
  .col-sm{
		color: red;
		margin-bottom: 30px;
	}
  
}